name: JavaScript Lint

on:
  pull_request:
    paths:
      - "libraries/javascript/**"
      - ".github/workflows/javascript-lint.yml"

jobs:
  build:
    name: JavaScript Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install modules
        run: |
          yarn
        working-directory: libraries/javascript

      - name: Lint
        run: |
          yarn run lint
        working-directory: libraries/javascript
