name: Java Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Java Release
    runs-on: ubuntu-latest
    environment: Release
    env:
      GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}
      NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
      NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}

    steps:
      - uses: actions/checkout@v4

      # Setup Java
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: |
            8
            11
          server-id: 'central'
          server-username: NEXUS_USERNAME
          server-password: NEXUS_PASSWORD

      # Import GPG key
      - name: Import GPG key
        run: |
          echo "${{ secrets.OSSRH_GPG_SECRET_KEY }}" > private.key
          gpg --batch --import private.key
          # Trust the key to avoid interactive "are you sure?" prompts
          echo "5" | gpg --command-fd 0 --batch --yes --edit-key ${{ secrets.OSSRH_GPG_KEY_NAME }} trust
        shell: bash

      - name: Build & Deploy
        run: |
          # Maven deploy - this will sign, upload to staging, and (if configured) release automatically
          mvn clean deploy -P release-sign-artifacts
        working-directory: libraries/java
