name: Ruby Release

on:
  push:
    tags:
      - "v*"

jobs:
  dotnet:
    name: Ruby Release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7

      - name: Install dependencies
        run: |
          bundler install
        working-directory: libraries/ruby

      - name: Build
        run: |
          bundler exec rake build
        working-directory: libraries/ruby

      - name: Publish
        run: |
          mkdir -p "$HOME/.gem"
          touch "$HOME/.gem/credentials"
          chmod 0600 "$HOME/.gem/credentials"
          printf -- "---\n:rubygems_api_key: %s\n" "$RUBYGEMS_AUTH_TOKEN" > "$HOME/.gem/credentials"

          gem push pkg/*.gem
        env:
          RUBYGEMS_AUTH_TOKEN: "${{secrets.RUBYGEMS_AUTH_TOKEN}}"
        working-directory: libraries/ruby
